<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
    .turbolinks-progress-bar
    </style>
    <script src="https://kit.fontawesome.com/25ec70538f.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/" >
          <span>Bookers</span>
         </a>

         <div class="container">
           <% if user_signed_in? %>
          <li class="fas fa-home" style="color: #ffffff;">
            <a class="nav-link text-light" href="/">
              Home
            </a>
          </li>
         </a>

         <li class="fas fa-users" style="color: #ffffff;">
          <a class="nav-link text-light" href="/users">
            User
            </a>
         </li>
         <li class="fas fa-book-open" style="color: #ffffff;">
           <a class="nav-link text-light" href="/books">
             Books
           </a>
         </li>
         <li class="fas fa-sign-out-alt" style="color: #ffffff;">
          <a class="nav-link text-light" rel="nonfollow" data-method="delete" href="/users/sign_out">
            Sign out
          </a>
         </li>
         <% else %>
         <li class="fas fa-home" style="color: #ffffff;">
            <a class="nav-link text-light" href="/">
              Home
            </a>
          </li>
         <li class="fas fa-link" style="color: #ffffff;">
          <a class="nav-link text-light" href="/homes/about">
            About
          </a>
         </li>
         <li class="fas fa-user-plus" style="color: #ffffff;">
          <a class="nav-link text-light" href="/users/sign_up">
            Sign up
          </a>
         </li>
         <li class="fas fa-sign-in-alt" style="color: #ffffff;">
          <a class="nav-link text-light" href="/users/sign_in">
            Log in
          </a>
         </li>
         <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>