<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/25ec70538f.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class = "navbar-brand" href = "https://da2bc839e85c479d9c8818fec4735534.vfs.cloud9.ap-northeast-1.amazonaws.com/" >
          <span>Bookers2</span>
        </a>

    <% if user_signed_in? %>

      <i class="fas fa-home" style="color: #ffffff;">
      <%= link_to 'Home', user_path(current_user.id) %>
      </i>

      <i class="fas fa-users" style="color: #ffffff;">
        <%= link_to 'User', users_path %>
      </i>
      <i class="fas fa-book-open" style="color: #ffffff;">
        <%= link_to 'Books', books_path %>
      </i>
      <i class="fas fa-sign-out-alt" style="color: #ffffff;">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </i>
    <% else %>
      <i class="fas fa-home" style="color: #ffffff;">
        <%= link_to 'Home', root_path %>
      </i>
      <i class="fas fa-link" style="color: #ffffff;">
        <%= link_to 'About', about_path %>
      </i>
      <i class="fas fa-user-plus" style="color: #ffffff;">
        <%= link_to "Sing up", new_user_registration_path %>
      </i>
      <i class="fas fa-sign-in-alt" style="color: #ffffff;">
        <%= link_to "Log in", new_user_session_path %>
      </i>
    <% end %>
      </nav>

    </header>
    <%= yield %>
  </body>
</html>